# Ambientes virtuais
venv/
.env/

# Docker compose p/ testar o bot com as licenças (chaves)
docker_compose.yml

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações locais do VS Code
.vscode/
.vs/

# Arquivos temporários
*.log
